:root {
  --color-bg: #530a0a;
  --color-container-bg: #313131;
  --color-accent: #ffffff;
  --color-text-strong: #832020;
  --color-text-weak: #d81717;
  --font: Arial, sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font);
}

.container {
  width: 70%;
  height: auto;
  background-color: var(--color-container-bg);
  margin: 60px auto;
  border: 1px solid #eeb1b1;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 #d67676;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .profile-info {
    width: 100%;
  }
}

.toggle-btn {
  background: var(--color-accent);
  color: #ffc9c9;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.back-link {
  display: inline-block;
  color: var(--color-accent);
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(90deg, #d81717 95%, transparent 100%);
  border-radius: 4px;
  padding: 3px 10px;
}

.back-link:hover {
  text-decoration: underline;
  background-color: #fac0c0;
}

.profile-card {
  padding: 32px;
  border-bottom: 1px solid #000000;
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: #cccccc;
  border-radius: 8px;
}

.profile-photo {
  width: 200px;
  height: 260px;
  border-radius: 10px;
  object-fit: cover;
  display: inline-block;
  margin-right: 32px;
  border: 3px solid #d81717;
  box-shadow: 0px 2px 16px #d67676;
  background-color: #363636;
}

.profile-info {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 232px);
}

.profile-info h2 {
  margin-top: 0;
  color: var(--color-text-strong);
  font-size: 24px;
}

.profile-info p {
  margin-top: 0;
  color: var(--color-text-weak);
  font-size: 16px;
  line-height: 145%;
}

.section {
  padding: 32px;
}

.section h3 {
  margin-top: 0;
  color: var(--color-text-strong);
  font-size: 18px;
}

.section p {
  margin-top: 0;
  color: var(--color-text-weak);
  font-size: 14px;
  line-height: 145%;
}

.role-box {
  width: 97.4%;
  background-color: #cccccc;
  height: auto;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.role-box h3 {
  margin-top: 0;
  color: var(--color-text-strong);
  font-size: 16px;
}

.role-box p {
  margin-top: 0;
  color: var(--color-text-weak);
  font-size: 14px;
  line-height: 145%;
}