body{
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 846px;
    height: 600px;
    background-color: #fff;
    margin: 60px auto ;
}

.back-link{
    color: #717182;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.312px;
    margin-bottom: 32px;
    float: left;
}
