:root {
    --color-bg: #f8f9fa;
    --font: Arial, sans-serif;
    --color-text-strong: #000;
    --color-text-weak: #6c757d;
}

body{
    background-color: var(--color-bg);
    font-family: var(--font);
}

.container{
    width: 70%;
    height: auto;
    background-color: #fff;
    margin: 60px auto;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #0000001a;

}

@media (max-width:480px){
    .container{
    margin: 0;
    width: 100%;
    }
    
}

.back-link{
    color: var(--color-text-weak);
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    display: inline-flex;

}

.profile-card{
    padding: 16px;
    border-bottom: 1px solid #0000001a;

}

.profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    
}

.profile-info{
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.profile-info h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.section{
    padding: 16px;
}

.section h3{
    font-size: 18px;
    font-weight: 600;
}

.section p{
    font-size: 16px;
    line-height: 120%;
}

.role-box{
    border-radius: 10px;
    padding: 24px;
    background-color: #ececf0;
}