:root{

--color-bg:#f8f9fa;
--font:Arial, sans-serif;
--color-text-strong:#222;
--color-text-weak:#636262;
}

body{
    background-color: var(--color-bg);
    font-family: var(--font);
}

.container{
    width:70%;
    height:auto;
    background-color: #fff;
    margin: 60px auto 60px auto;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 10px; 
}

@media (max-width:480px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color-text-weak);
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.profile-card{
    padding: 16x;
    border: 1px solid #0000001a; 
}

.profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

.profile-info {
display: inline-block;
vertical-align: top;
width: calc(100% - 264px);
}

.profile-info h2 {
    margin-top:0;
    color: var(--color-text-strong);
    font-size: 24px;
}

.section {
    padding: 32px;
}

.section h3{
    margin-top:0;
    color: var(--color-text-strong);
    font-size: 18px;
}
.section p{
    margin-top:0;
    color: var(--color-text-weak);
    font-size: 14px;
    line-height: 145%;
}

.role-box{
    width: 100%;
    background-color:#ECECF0 ;
    height: auto;
    padding: 16px;
    border-radius: 10px;
}
.role-box h4{
    margin-top:0;
    color: var(--color-text-strong);
    font-size: 16px;
}

.role-box p{
    margin-top:0;
    color: var(--color-text-weak);
    font-size: 14px;
    line-height: 145%;
}