.container{
  width: 846px;
  heigth: 600px;
  background-color; #ffb5c0
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  margin: 60px auto 0 auto;
}

