:roo:root{
    --color-bg:#f8f9fa;
    --font:Arial, sans-serif;
    --color-text-strong:#000;
    --color-text-weak:#6c757d;


}
body{
    background-color: var(--color-bg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.container{
    width: 846px;
    height: 600px;
    background-color: #ffa500;
    margin: 60px auto 0 auto;
    padding: 16px auto;
    border-radius: 10px;
    border: 1px solid #0000001a
}

@media(max-width:400px){
    .container{
        margin: 0;
        width: 100%;
    }
}

.back-link{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.312px;
    margin-bottom: 32px;
    display: inline-flex;
}

.profile-card{
    padding: 16px;
    border-bottom: 1px solid #0000001a;
}

.profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

.profile-info{
  width:50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.profile-info h2{
    font-weight: 0;
    font-weight: 700;
    margin-bottom: 8px;
}

.section{
    padding: 16px;
}

.section h3{
    font-size: 18px;
    font-weight: 600;
}

.section p{
    font-size: 16px;
    line-height: 145%;

}

.role-box{
border-radius: 10px;
background: #ECECF0;
padding: 24px;
}
