:root {
    --color-bg: #ffffff;
    --color-text-strong:#000000;
    --color-text-weak: #ffffff;
    --font:Arial, sans-serif;
}

body{
background-color: #ffffff;
font-family: var(--font);
}

.container{
width:70%;
height:auto;
background-color: #b84e6c;
margin: 60px auto 60px auto;
border: 1px solid #ddd;
padding: 16px;
border-radius: 10px;
}

@media(max-width: 600px){
    .container{
        width:100%;
        margin: 0;
    }
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #000000;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.profile-card {
    padding: 32px;
    border-bottom: 1px solid #eea7b7;
}

.profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 32px
}

.profile-info{
display: inline-block;
vertical-align: top;
width: calc(100%-264px);
}

@media(max-width: 600px){
   .profile-info{
    width:100%
}
}

.profile-info h2{
    margin-top:0;
    color: #ffffff;
    font-size: 24px;
}

.profile-info p{
    margin-top:0;
    color: #ffffff;
    font-size: 16px;
    line-height: 145%;
}

.section{
    padding: 32px;
}

.section h3{
    margin-top:0;
    color: #ffffff;
    font-size: 18px;
}

.section p{
    margin-top:0;
    color: #ffffff;
    font-size: 14px;
    line-height: 145%;
}

.role-box {
    width: 100%;
    background-color:#8b274e ;
    height: auto;
    padding: 16px;
    border-radius: 10px;
}

.role-box h4{
    margin-top:0;
    color: #ffffff;
    font-size: 16px;
}

.role-box p{
    margin-top:0;
    color: #ea6293;
    font-size: 14px;
    line-height: 145%;
}
