body{
  background-color: #c4ffe4
  font-family: Arial, sans-serif;
}

.container{
  width: 846px;
  heigth: 600px;
  background-color; #ffb5c0
  margin: 60px 0 auto 0 auto;
  
}

.back.link{
  color: #fff
  fony-family: Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.312px;
  margin-bottom: 32px;
  float: left;
}

