body{background-color: #ffbfd0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.container {
    width: 846px;
    height: 600px;
    background-color: rgb(255, 232, 240);
    margin:  60px auto;

}

.back-link{
    color: rgb(64, 8, 27);
    font-family: cursive;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.312px;
}