
:root {
     --color-bg:#f8f9fa;
     --font:Arial, sans-serif;
     --color-text-strong: #000;
     --color-text-weak: #6c757d;
}
body {
     background-color: var(--color-bg);
     font-family: var(--font);
}

.container{
     width: 70%;
     height: 600px;
     background-color: #fff;
     margin: 60px auto;
     padding: 16px;
     border-radius: 10px;
     border: 1px solid #0000001a;
}

@media (max-width:480px){
     .container {
          margin: 0;
          width: 100%;
          }
}

.back-link {
     color:var(--color-text-weak);
     font-family: var(--font);
     font-size: 16px;
     font-weight: 400;
     letter-spacing: -0.321px;
     margin-bottom: 32px;
     display: inline-block;
}

.porfile-card{
     padding: 16px;
     border-bottom: 1px solid #0000001a;
}

.porfile-photo{
     width: 200px;
     height: 200px;
     border-radius: 10px;
     display: inline-block;
      vertical-align: top;
      margin-right: 16px;
}

.porfile-info{
     width: 50%;
     height: auto;
     display: inline-block;
     vertical-align: top;
}

.porfile-info h2{
     font-size: 24px;
     font-weight: ;
     margin-bottom: 8px;
}

.section{
     padding: 16px;
}

.section h3{
     font-size: 18px;
     font-weight: 600;
}

.section p{
     font-size: 16x;
     line-height:120%
}

.role-box{
     border-radius:10px;
     background: #ECECF0;
     padding: 24px;
}